@import './boiler.css';
@import './fonts.css';

html {
  overflow-x: hidden;
}

body {
  background: #753579;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: visible;
  font-family: 'anc', system, sans-serif;
  color: #EAADC8;
  padding-top:100px;
  margin-top: -100px;
}

*:focus {
  outline: none;
}

a, a:hover, a:visited, a:active {
  color: #EAADC8;
  border-bottom: 1px solid #fff;
  text-decoration: none;
}

a:hover {
  border-bottom: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  border: none;
}

#blobs-container {
  position: relative;
  left: 50%;
}
#blobs {
  position: absolute;
  width: 2428px;
  height: 1030px;
  top: -160px;
  left: -1213px;
  right: 0;
}

.blob {
  position: absolute;
}

#blob-1 {
  width: 39.8%;
  top:3%;
  left: 7.4%;
}

#blob-2 {
  width: 39.4%;
  top:0;
  left: 46.2%;
}

#blob-3 {
  width: 28.6%;
  top: 29.8%;
  left: 29.6%
}

#blob-4 {
  width: 23.8%;
  top:12.8%;
  left: 19.3%;
}

#blob-5 {
  width: 37%;
  top:40.5%;
  left: 57.3%;
}

#blob-nav {
  position: fixed;
  right: -40px;
  top: 20px;
  transition: all 1s ease-in;
}

#blob-nav.smaller {
  top: -40px;

}

#title {
  position: absolute;
  top: 40.9%;
  width: 18%;
  left: 41%;
}

.blob {
    -webkit-animation-name: Floating;
    -webkit-animation-duration: 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease-in-out;
}

.blob:nth-of-type(n) {
  -webkit-animation-delay: 500ms;
}
.blob:nth-of-type(2) {
  -webkit-animation-delay: 4000ms;
}
.blob:nth-of-type(3) {
  -webkit-animation-delay: 2500ms;
}
.blob:nth-of-type(4) {
  -webkit-animation-delay: 1000ms;
}
.blob:nth-of-type(5) {
  -webkit-animation-delay: 3000ms;
}

@-webkit-keyframes Floating{
    from {-webkit-transform:translate(0px, 0);}
    65% {-webkit-transform:translate(20px, 0);}
    to {-webkit-transform: translate(-0px, 0);    }
}

header {
  height: calc( 1030px - 160px);
}

header nav {
  position: absolute;
  top: 35px;
  left: 100px;
  right: 0;
  bottom: 0;
}

header nav a, header nav a:hover, header nav a:visited, header nav a:active {
  display: block;
  text-decoration: none;
  color: #753579;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 10px 0;
  font-size: 14px;
  border: none;
}

section {
  padding-top: 150px;
}

section > * {
  width: 50%;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

section h2 {
  font-size: 36px;
  letter-spacing: 2.5px;
  margin-bottom: 30px;
  color: #fff;
}

section h3 {
  text-transform: uppercase;
  margin-bottom: 0;
}

section p {
  margin-top: 0;
}

section p strong, section p b {
  letter-spacing: 1px;
}

section ul {
  padding: 0 0 0 20px;
}

section ul li {

}

#cta h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 60px;
  text-align: center;
  line-height: 1.2;
  color: #EAADC8;
}

#cta p {
  text-align: center;
}

.hotel {
  margin-bottom: 40px;
}

.flying-tips, .schedule-item {
  padding-left: 40px;
}

.image {
  width: 60%;
  max-width: 1200px;
  margin: 150px auto 0;
}
.image img {
  width: 100%;
  height: auto;
}


@media (max-width: 700px) {
  nav {
    display: none;
  }

  header {
    height: calc( 515px - 80px);
  }

  #blobs {
    position: absolute;
    width: 1214px;
    height: 515px;
    top: -80px;
    left: -607px;
    right: 0;
  }

  #blob-nav {
    top: -10%;
    right: -50%;
  }

  #cta h1 {
    font-size: 22px;
    font-weight: 400;
  }

  #cta p {
    font-size: 22px;
  }

  section > * {
    width: 80%;
  }

  section {
    font-size: 18px;
    padding-top: 75px;
  }

  section h2 {
    margin-bottom: 10px;
  }

  .image {
    width: 100%;
    margin-top: 75px;
  }
}

@media (min-width: 1400px) {
  #blob-nav {
    right: 50%;
    margin-right: -750px;
  }
}
